{% extends 'base.html.twig' %}

{% block title %}Filmes{% endblock %}

{% block body %}

    <fieldset>

        <legend>Novo Filme</legend>

        {{form_start(form_filmes)}}
        {{ form_widget(form_filmes) }}
        

        <button id="salvar" name="salvar" class="btn btn-primary pull-right" type="submit">Salvar</button>
        
        {{form_end(form_filmes)}}
    
    </fieldset>

{% endblock %}

{% block javascripts %}
    {# Add opção no menu #}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#filmes_genero').val('Selecione');
        });
    </script>    
{% endblock %}